.hidden {
  display: none;
}
body {
  background-color: rgb(153, 153, 153);
}
.content-box {
  margin-top: 120px;
  border-radius: 8px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 35px;
  background-color: white;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(70, 70, 70);
}

.inputval-btn {
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  outline: 0;
  border: 0;
  border-radius: 4px;
  margin-left: 8px;
  color: white;
  background-color: rgb(65, 65, 65);
  box-shadow: 0px 0px 4px rgb(121, 121, 121);
}

.user-input {
  padding: 4px 12px;
  margin-top: 13px;
}

.userNumbox {
  box-shadow: 0px 0px 4px rgb(121, 121, 121);
  border-radius: 50px;

  background-color: rgb(99, 99, 99);
  color: white;
  margin: 1px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.show-user-num {
  display: block;
}

.userNumAllbox {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.game-hint-box {
  font-weight: 700;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.userNumbox:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.userNumAllbox {
  cursor: pointer;
  position: relative;
  animation: fadeInUp 1s;
}

.user-number {
  outline: none;
  padding: 4px 12px;
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
}

.strike-box {
  background-color: green;
}

.ball-box{
  background-color: yellow;
}

.out-box{
  background-color: red;
}